<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zxqs.tienchin.channel.mapper.TienchinChannelMapper">
    <resultMap type="TienchinChannel" id="TienchinChannelResult">
        <result property="channelId"    column="channel_id"    />
        <result property="channelName"    column="channel_name"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTienchinChannelVo">
        select channel_id, channel_name, status, remark, type, del_flag, create_by, update_by, create_time, update_time from tienchin_channel
    </sql>



    <select id="selectTienchinChannelList" parameterType="TienchinChannel" resultMap="TienchinChannelResult">
        <include refid="selectTienchinChannelVo"/>
        <where>
            <if test="channelName != null  and channelName != ''"> and channel_name like concat('%', #{channelName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="type != null "> and type = #{type}</if>
            and del_flag = 0
        </where>
    </select>
    <select id="selectTienchinChannelByName" parameterType="java.lang.String" resultMap="TienchinChannelResult">
        <include refid="selectTienchinChannelVo"/>
        <where>
            del_flag = 0
            and channel_name = #{channelName}
        </where>
    </select>

    <select id="selectTienchinChannelById" resultMap="TienchinChannelResult">
        <include refid="selectTienchinChannelVo"/>
        <where>
            channel_id = #{channelId}
            and del_flag = 0
        </where>
    </select>

    <update id="updateChannel" parameterType="tienchinChannel">
        update tienchin_channel
        <set>
            <if test="channelName != null and channelName != ''">channel_name = #{channelName},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where channel_id = #{channelId}
    </update>

    <insert id="addChannel" parameterType="tienchinChannel">
        insert into tienchin_channel(
            <if test="channelName !=null and channelName != ''" >channel_name,</if>
            <if test="status !=null and status != ''" >status,</if>
            <if test="remark !=null and remark != ''" >remark,</if>
            <if test="type !=null and type != ''" >type,</if>
            <if test="createBy !=null and createBy != ''" >create_by,</if>
            create_time
        ) values (
            <if test="channelName !=null and channelName != ''" >#{channelName},</if>
            <if test="status !=null and status != ''" >#{status},</if>
            <if test="remark !=null and remark != ''" >#{remark},</if>
            <if test="type !=null and type != ''" >#{type},</if>
            <if test="createBy !=null and createBy != ''" >#{createBy},</if>
            sysdate()
        )
    </insert>

</mapper>